<$mt:TableColumnValue stash="blog" column="is_members" setvar="requires_login"$>
<mt:Unless name="requires_login">
<mt:IfBlogDynamicMTML>
##
## DynamicMTML generated this part; don't remove this line! ##
## <version><$MTPluginVersion component="DynamicMTML"$></version>
## <bootstrapper><$MTDynamicSiteBootstrapper$></bootstrapper>

Options -Indexes +SymLinksIfOwnerMatch
DirectoryIndex <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f [OR]
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} ^[^.]+$|\.(<$MTBlogFilesMatch$>)$ [NC]
  RewriteRule ^ <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$> [L]
</IfModule>
<IfModule !mod_rewrite.c>
  Order Deny,Allow
  Deny from all 
<FilesMatch (^(|[^.]+)|<$MTDynamicSiteBootstrapper$>?)$>
  Allow from all
</FilesMatch>
  ErrorDocument 403 <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
  ErrorDocument 404 <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
</IfModule>
php_flag short_open_tag off
## DynamicMTML generated this part; don't remove this line! /DynamicMTML ##
<mt:Else>
## %%%%%%% Movable Type generated this part; don't remove this line! %%%%%%%
# Disable fancy indexes, so <$MTDynamicSiteBootstrapper$> gets a chance...
Options -Indexes +SymLinksIfOwnerMatch
  <IfModule mod_rewrite.c>
  # The mod_rewrite solution is the preferred way to invoke
  # dynamic pages, because of its flexibility.

  # Add <$MTDynamicSiteBootstrapper$> to the list of DirectoryIndex options, listing it last,
  # so it is invoked only if the common choices aren't present...
  <IfModule mod_dir.c>
    #DirectoryIndex index.php index.html index.htm default.asp default.aspx default.html default.htm <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
    DirectoryIndex <$MTIndexBasename extension="1"$> <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
  </IfModule>

  RewriteEngine On

  # don't serve <$MTDynamicSiteBootstrapper$> if the request is for a real directory
  # (allows the DirectoryIndex lookup to function)
  RewriteCond %{REQUEST_FILENAME} !-d

  # don't serve <$MTDynamicSiteBootstrapper$> if the request is for a real file
  # (allows the actual file to be served)
  RewriteCond %{REQUEST_FILENAME} !-f
  # anything else is handed to <$MTDynamicSiteBootstrapper$> for resolution
  RewriteRule .* <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$> [L]
</IfModule>

<IfModule !mod_rewrite.c>
  # if mod_rewrite is unavailable, we forward any missing page
  # or unresolved directory index requests to mtview
  # if <$MTDynamicSiteBootstrapper$> can resolve the request, it returns a 200
  # result code which prevents any 4xx error code from going
  # to the server's access logs. However, an error will be
  # reported in the error log file. If this is your only choice,
  # and you want to suppress these messages, adding a "LogLevel crit"
  # directive within your VirtualHost or root configuration for
  # Apache will turn them off.
  ErrorDocument 403 <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
  ErrorDocument 404 <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
</IfModule>
## ******* Movable Type generated this part; don't remove this line! *******

php_flag short_open_tag off
</mt:Else></mt:IfBlogDynamicMTML><mt:Else>
## for PowerCMS Professional
Options -Indexes +SymLinksIfOwnerMatch
DirectoryIndex <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
<$MTBlogFilesMatchDirective$>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^ <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$> [L]
</IfModule>
<IfModule !mod_rewrite.c>
  Order Deny,Allow
  Deny from all 
<FilesMatch (^(|[^.]+)|<$MTDynamicSiteBootstrapper$>?)$>
  Allow from all
</FilesMatch>
  ErrorDocument 403 <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
</IfModule>
</FilesMatch>
<FilesMatch (^(|[^.]+)|\.html?)$>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^ <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$> [L]
</IfModule>
<IfModule !mod_rewrite.c>
  Order Allow,Deny
  Deny from all
  ErrorDocument 403 <$MTBlogRelativeURL$><$MTDynamicSiteBootstrapper$>
</IfModule>
</FilesMatch>
php_flag short_open_tag off
</mt:Else></mt:Unless>