<?php
## DynamicMTML generated this part; don't remove this line! ##

# DynamicMTML (C) 2010-2011 Alfasado Inc.
    
    // ini_set( 'memory_limit', '16M' );
    // <version><$MTPluginVersion component="DynamicMTML"$></version>
    
    $blog_id      = <$mt:BlogID$>;
    $server_cache = <$mt:BlogDynamicSearchCacheExpiration$>;
    $size_limit   = 524288;
    $mt_dir       = '<$mt:CGIServerPath encode_php="q"$>';
    $mt_config    = '<$mt:ConfigFile encode_php="q"$>';
    $static_path  = '<$mt:StaticFilePath encode_php="q"$>';
    $indexes      = '<$mt:BlogDynamicDirectoryIndex encode_php="q"$>';
    $excludes     = '<$mt:BlogDynamicExcludeExtension encode_php="q"$>';
    $plugin_path  = '<$mt:PluginPath component="DynamicMTML" folder="php" encode_php="q"$>';
    $cache_dir    = '<$mt:PowerCMSFilesDir encode_php="q"$>' . DIRECTORY_SEPARATOR . 'cache';
    $extension    = '<$mt:BlogFileExtension encode_php="q"$>';
    $use_cache    = <$mt:BlogDynamicMTMLCache$>;
    $conditional  = <$mt:BlogDynamicMTMLConditional$>;
    // if alias...
    $alias_name = ''; 
    $alias_path = '';
    <$mt:TableColumnValue stash="blog" column="is_members" setvar="requires_login"$>
    <mt:If name="requires_login">$require_login = 1;<mt:Else>$require_login = NULL;</mt:Else></mt:If>
    <mt:IfBlogDynamicCache>$dynamic_caching = 1;<mt:Else>$dynamic_caching = NULL;</mt:Else></mt:IfBlogDynamicCache>
    <mt:IfBlogDynamicConditional>$dynamic_conditional = 1;<mt:Else>$dynamic_conditional = NULL;</mt:Else></mt:IfBlogDynamicConditional>
    // require_once ( $plugin_path . 'dynamicmtml.php' );
    // require_once ( $plugin_path . 'dynamicmtml.util.php' );
    require_once ( $plugin_path . 'dynamicmtml.run.php' );

## DynamicMTML generated this part; don't remove this line! /DynamicMTML ##
?>